/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rosybrown;
    color: #ffffff;
}

/* ===== NAVBAR ===== */
header {
    background-color:burlywood;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.titulo {
    font-size: 1.8rem;
    color: aquamarine;
    text-transform: uppercase;
    font-weight: bold;
}

/* Menú de navegación */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu li a:hover {
    background-color: lightcoral;
    color: wheat;
}

/* ===== CONTENIDO PRINCIPAL ===== */
main {
    padding-top: 120px; /* deja espacio para la barra fija */
    text-align: center;
}

.intro h2 {
    font-size: 2rem;
    color: wheat;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.1rem;
}

/* ===== FOOTER ===== */
footer {
    background-color: darksalmon;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}

footer a {
    color: #00fff2;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffe600;
}
