
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rosybrown;
    color: #ffffff;
    margin: 0;
}


header {
    background-color: burlywood;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.titulo {
    font-size: 1.8rem;
    color: aquamarine;
    text-transform: uppercase;
    font-weight: bold;
}


.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu li a:hover {
    background-color: lightcoral;
    color: wheat;
}

main {
    padding-top: 160px;
    text-align: center;
}

.caja {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 30px;
    margin: 40px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.intro h2 {
    font-size: 2rem;
    color: wheat;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.1rem;
}

footer {
    background-color: darksalmon;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}

footer a {
    color: #00fff2;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffe600;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .caja {
        width: 90%;
        margin: 20px auto;
    }

    .intro h2 {
        font-size: 1.6rem;
    }

    .intro p {
        font-size: 1rem;
    }
}
