/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #e0a96d;
    color: white;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

/* Receta */
.receta {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receta-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Ingredientes */
.receta-ingredientes {
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.8em;
    color: #e0a78d;
    margin-bottom: 10px;
}

.ingredientes-lista {
    list-style-type: none;
    padding-left: 0;
}

.ingredientes-lista li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Pasos de la receta */
.receta-pasos {
    margin-bottom: 20px;
}

.pasos-lista {
    list-style-type: decimal;
    padding-left: 20px;
}

.pasos-lista li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Botones */
.descarga, .volver {
    text-align: center;
    margin-top: 20px;
}

.btn-descargar, .btn-volver {
    background-color: #e0c96d;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-descargar:hover, .btn-volver:hover {
    background-color: #e0a96d;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
