body{
    background-color: cadetblue;
}
header{
    text-align: center;/*Alineacion de texto*/
    padding: 20px;
    background-color: burlywood;
    color: #ffffff;
}
h1{
    color: bisque;
    text-align: center;
}
a{
text-align: center;
    color: blanchedalmond;
    text-decoration: none;

}
a:hover{
color: crimson;
}